<div
    class="p-20"
    fxLayoutAlign="center stretch"
    fxLayoutGap="20px"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.sm="column"
>
    <mat-card fxFlex>
        <div fxLayoutAlign="center center" class="m-8" fxLayoutGap="20px">
            <img
                class="rounded"
                (click)="openPhoto()"
                width="150"
                height="150"
                [src]="user?.avatar || 'assets/images/user_default.svg'"
            />
            <input
                type="file"
                hidden
                #foto
                capture
                (change)="openCropper($event)"
                accept="image/*"
            />
            <button
                mat-stroked-button
                (click)="foto.click(); foto.value = null"
            >
                <b>Cambiar foto</b>
            </button>
        </div>
    </mat-card>
    <div fxFlex>
        Content
    </div>
</div>
