{
  "trailingComma": "es5",
  "tabWidth": 4,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "always",
  "useTabs": false,
  "semi": true,
  "singleQuote": true
}
