<mat-drawer-container class="sidenav-container scrollable">
    <mat-drawer #drawer class="sidenav scrollable" color="primary">
        <div class="header" fxLayout="space-between center">
            <div fxLayout="column" fxFlexFill class="p-16">
                <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    fxFlex
                    class="mb-20"
                >
                    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <div fxLayout="column" class="ml-8">
                           
                            <div fxLayout="row">
                                <b class="tc-white font-14 uppercase mr-8">{{
                                    (user$ | async)?.name || 'Loading' + '...'
                                }}</b>
                                <i
                                    (click)="drawer?.close()"
                                    routerLink="meu-perfil"
                                    class="material-icons-outlined tc-white font-14"
                                    >edit</i
                                >
                            </div>
                        </div>
                    </div>
                    <button mat-icon-button (click)="drawer?.close()">
                        <mat-icon class="tc-white">close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <mat-nav-list style="width: 100%" class="list">
            <div
                matRipple
                (click)="drawer?.close()"
                *ngFor="
                    let item of (navigationOptions$ | async)?.sidenav?.menuItens
                "
            >
                <div *ngIf="item?.type == 'label'" class=" p-16">
                    <span class="tc-paragraph">{{ item?.label }}</span>
                </div>
                <mat-divider *ngIf="item?.type == 'divider'"></mat-divider>
                <a
                    *ngIf="item?.type === 'button'"
                    [routerLink]="item?.link"
                    [style.overflow]="'hidden'"
                    (click)="!item?.link ? (item.open = !item.open) : {}"
                >
                    <div fxLayout="row" class="p-12">
                        <mat-icon
                            class=" mr-16"
                            [style.color]="item?.iconColor"
                            >{{ item?.icon }}</mat-icon
                        >
                        <span class="font-14">{{ item?.label }}</span>
                        <span fxFlex></span>
                        <mat-icon
                            *ngIf="item?.subItens"
                            [@indicatorRotate]="getExpandedState(item)"
                            class="no-select"
                            >keyboard_arrow_down</mat-icon
                        >
                    </div>
                </a>
            </div>
            <span class="label m-8">{{ version }}</span>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar *ngIf="(navigationOptions$ | async)?.toolbar?.showToolbar">
            <button
                mat-icon-button
                (click)="drawer?.open()"
                *ngIf="(navigationOptions$ | async)?.toolbar?.showMenu"
            >
                <mat-icon [style.color]="'white'" class="tc-paragraph"
                    >menu</mat-icon
                >
            </button>
            <b [style.color]="'white'">{{ title }}</b>
            <div fxFlex></div>
            <div fxLayout="row">
                <button mat-button *ngIf="!(user$ | async)" routerLink="/auth/login">
                    <b class="tc-white">Login</b>
                </button>
            </div>
        </mat-toolbar>
        <div class="content">
            <ng-content></ng-content>
        </div>

        <div class="footer"></div>
    </mat-drawer-content>
</mat-drawer-container>
