<mat-card>
    <div fxLayoutAlign="center center">
        <img src="assets/images/checked.png" />
    </div>
    <div fxLayoutAlign="center center" class="mt-20" fxLayout="column">
        <b>Recuperación solicitada</b>
        <span align="center" class="mt-12"
            >Enviamos un correo electrónico al email <b>{{ email }}</b> con el
            link de recuperación.</span
        >
        <button (click)="resend()" class="mt-32" mat-stroked-button color="primary">
            <b>RE-ENVIAR EMAIL</b>
        </button>
    </div>
</mat-card>
<div fxLayout="row" class="mt-20" fxLayoutAlign="center center">
    <a class="font-12 tc-primary bold-600" routerLink="/auth/login"
        >Volver al login</a
    >
</div>
