<div fxLayoutAlign="center stretch" fxLayout="column">
    <span align="center" class="bold-600">Matrícula</span>
    <span align="center" class="tc-paragraph">Completa las informaciones para continuar</span>
    <form
        [formGroup]="form"
        class="mt-20"
        fxLayoutAlign="center center"
        (ngSubmit)="save()"
    >
        <div fxLayout="column" fxFlex fxFlex.lg="50">
            <mat-form-field class="rounded-field" appearance="outline">
                <i class="tc-primary-dark material-icons-outlined" matPrefix
                    >person</i
                >
                <input matInput placeholder="Nombre" formControlName="name" />
                <mat-error *ngIf="form.get('name').getError('required')"
                    >Obligatório</mat-error
                >
            </mat-form-field>
            <mat-form-field class="rounded-field" appearance="outline">
                <i class="tc-primary-dark material-icons-outlined" matPrefix
                    >mail</i
                >
                <input matInput placeholder="Email" formControlName="email" />
                <mat-error *ngIf="form.get('email').getError('required')"
                    >Obligatório</mat-error
                >
                <mat-error *ngIf="form.get('email').getError('email')"
                    >Formato incorrecto</mat-error
                >
            </mat-form-field>
            <mat-form-field class="rounded-field" appearance="outline">
                <i class="tc-primary-dark material-icons-outlined" matPrefix
                    >person</i
                >
                <input
                    matInput
                    placeholder="Cédula"
                    formControlName="document"
                />
                <mat-error *ngIf="form.get('document').getError('required')"
                    >Obligatório</mat-error
                >
            </mat-form-field>
            <span align="center" class="tc-paragraph">Crea una contraseña segura para accessar al sistema</span>
            <mat-form-field class="rounded-field" appearance="outline">
                <i class="tc-primary-dark material-icons-outlined" matPrefix
                    >lock</i
                >
                <input
                    #pass
                    matInput
                    placeholder="Contraseña"
                    type="password"
                    formControlName="password"
                />
                <i
                    class="tc-primary-dark material-icons-outlined"
                    (click)="
                        pass.type = pass.type == 'text' ? 'password' : 'text'
                    "
                    matSuffix
                    >remove_red_eye</i
                >
                <mat-error *ngIf="form.get('password').getError('required')"
                    >Obligatório</mat-error
                >
            </mat-form-field>
            <mat-form-field class="rounded-field" appearance="outline">
                <i class="tc-primary-dark material-icons-outlined" matPrefix
                    >lock</i
                >
                <input
                    #passConfirm
                    matInput
                    placeholder="Confirmación de Contraseña"
                    type="password"
                    formControlName="passwordConfirmation"
                />
                <i
                    class="tc-primary-dark material-icons-outlined"
                    (click)="
                        passConfirm.type =
                            passConfirm.type == 'text' ? 'password' : 'text'
                    "
                    matSuffix
                    >remove_red_eye</i
                >
                <mat-error
                    *ngIf="
                        form.get('passwordConfirmation').getError('required')
                    "
                    >Obligatório</mat-error
                >
            </mat-form-field>

            <button mat-flat-button color="primary" class="mt-32 rounded-btn">
                <b class="tc-white">CONTINUAR</b>
            </button>
        </div>
    </form>
</div>
