<div fxLayoutAlign="center stretch" fxLayout="column">
    <span align="center" class="bold-600">Recuperar contraseña </span>
    <form [formGroup]="formGroup" (ngSubmit)="submit()" class="mt-20">
        <div fxLayout="column">
            <mat-form-field class="rounded-field" appearance="outline">
                <i class="tc-primary-dark material-icons-outlined" matPrefix
                    >email</i
                >
                <input matInput placeholder="Email" [formControl]="email" />
                <mat-error *ngIf="email.getError('required')"
                    >Obligatório</mat-error
                >
                <mat-error *ngIf="email.getError('email')"
                    >Formato incorrecto</mat-error
                >
            </mat-form-field>

            <button mat-raised-button color="primary" class="mt-32 rounded-btn">
                <b class="tc-white">Enviar</b>
            </button>
        </div>
    </form>
</div>

<div fxLayout="row" class="mt-40" fxLayoutAlign="center center">
    <a class="font-12 tc-primary bold-600" routerLink="/auth/login"
        >Volver al login</a
    >
</div>
